<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coockingcase">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoockingCase">
        <activity android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRecetas" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".ActivityNombre"></activity>
        <activity android:name=".ActivityIngredientes" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".ActivityPreparacion"></activity>
        <activity android:name=".ActivityTt"></activity>
        <activity android:name=".ActivityFoto"></activity>
        <activity android:name=".ActivityTransicion"></activity>
        <activity android:name=".ActivityComentario"></activity>
        <activity android:name=".ActivityMostrar" android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>